@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-heading-l {
    font-size: 40px;
    font-weight: theme(fontWeight.extrabold);
    line-height: 50.4px;

    @media (min-width: 1024px) {
      font-size: 56px;
      line-height: 70.6px;
    }
  }

  .text-body-medium {
    font-size: 16px;
    font-weight: theme(fontWeight.medium);
    line-height: 26px;
  }

  .text-title-extrabold {
    font-size: 24px;
    font-weight: theme(fontWeight.extrabold);
    line-height: 32px;

    @media (min-width: 1024px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
